.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh; /* Adjust as needed */
}

.logout-button {
  align-self: flex-end;
  margin-bottom: 10px;
  background-color: #b7b7ff; /* Main color for button */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #9f9fe1; /* Slightly darker shade on hover */
}

.messages {
  flex: 1; /* Make the messages container grow to fill available space */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 42%; /* Maximum width of message bubbles */
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for message bubbles */
}

.my-message {
  align-self: flex-end;
  background-color: #b7b7ff; /* Main color for own messages */
  margin-left: auto; /* Align to the right */
}

.other-message {
  align-self: flex-start;
  background-color: #f4f4f9; /* Light grey for other messages */
  margin-right: auto; /* Align to the left */
}

.message-username {
  font-weight: bold;
  color: #4b4b4b; /* Dark grey for usernames */
  margin-bottom: 6px;
}

.my-message .message-username {
  color: #ffffff; /* White for usernames in own messages */
}

.message-content {
  margin-left: 10px;
  margin-right: 10px;
}

.message-timestamp {
  align-self: flex-end;
  font-size: 0.8em;
  color: grey;
}

.message-input {
  display: flex;
}

.message-input input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.message-input button {
  padding: 10px;
  background-color: #b7b7ff; /* Main color for send button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #9f9fe1; /* Slightly darker shade on hover */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: #777;
}
